################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tkipp-tjuic-irosic-mtomasic-mkljaic/FileContentIndex
