<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseModel" connectionString="data source=31.147.204.119\PISERVER,1433;initial catalog=RPP22_02_DB;persist security info=True;user id=RPP22_02_User;password=_YQTpM9X;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>